* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;   
}

/* spacing time and HS children in header */
.header {
    display: flex;
    justify-content: space-between;
}

/* moving time off edge of page */
#time {
    margin-right: 4%;
    display: flex;

}

/* moving HS off edge of page */
#highscores {
    margin-left: 4%;
}

/* centering start page */
.start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* sizing start button */
.start-page button {
    width: 100px;
}

/* centering quiz question */
.quiz-questions {
    display: flex;
    justify-content: space-around;
    display: none;
}

/* multiple choice button option styling */
button {
    background-color: rgb(58, 143, 255);
    border-radius: 5px;
    font-weight: 600;
    margin: 2%;
}

/* removing bullet styling from multiple choice answers */
.quiz-questions ul {
    list-style-type: none;
}

/* centering results page */
#results-page {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#submit {
    background-color: rgb(58, 143, 255);
    border-radius: 5px;
    font-weight: 600;
    margin: 2%;
}