* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;   
}

body {
    display: flex;
    justify-content: space-around;
}

#highscore {
    margin-top: 7%;
}

#buttons {
    width: max-content;
    display: flex;
    justify-content: space-between;
}

#buttons button {
    background-color: rgb(58, 143, 255);
    border-radius: 5px;
    font-weight: 600;
    margin: 2%;
}